
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	background-color: white;
	width: 100vw;
	height: 100vh;
	display: block;
}

main {
	padding: 1rem;
	border-left: 0.2rem solid blue;
	/* border-style: inset; */
}


/* Make a class, which when attached to an element, will make its background colour flash red for 0.3 seconds, then fade back to default */
.flash-red {
	animation: flash-red 0.7s;
}
@keyframes flash-red {
	0% {
		background-color: inherit;
	}
	50% {
		background-color: rgba(255, 83, 83, 0.664);
	}
	100% {
		background-color: inherit;
	}
}




/* End of File */